body{
    background-image: url(images/bg-clouds.jpg);
    background-position: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;;
}

h1{
    font-size: 5rem;
}